@import "./variables";
.container{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$backgroundColor;
    flex-wrap: wrap;
    gap:5rem;
 
   

}
.card{
    background-color: $cardNavBgColor;
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
    width:536px;
    overflow: hidden;
    &:hover .description{
        transform: translateY(0%);
    }
    .titles{
        font-family: $kalamFont;
        color:$cardNavBgColor;
        font-size: 2rem;
        color:white;
        padding: 0.5rem;
    }
    .images{
        width: 500px;
        height: 350px;
        object-fit: cover;

    }
    .images:hover{
        filter:sepia(50%);
   
    }
    .description{
        color: white;
         position: absolute;
         bottom: 0;
         left: 0;
         font-size: 1.5rem;
         background-color: rgba(0,0,0,0.5);
         padding: 1.05rem;
         transform: translateY(100%);
         z-index: 1;
         transition: transform 0.9s ease-in-out;
     }
 
    
}
