@import "./variables";
.container{
    background-color: $cardNavBgColor;
    text-align: center;
    .link{
        display: inline-block;
        font-family: $kalamFont;
        font-size: 1.5rem;
        text-decoration: none;
        color:white;
        padding:1rem;
    }
    .link:hover{
        background-color: $backgroundColor;
        color:$cardNavBgColor;
    }
}

